In [46]:
# Permutation Palindrome
# Given a string can an input be permutated to return a palindrome

# EX. carerac = racecar = true

from collections import Counter

def is_palindrome(string):
    unique_letters = list(Counter(string).keys())
    num_odds = 0
    for i in unique_letters:
        if Counter(string)[i]%2 != 0:
            num_odds+=1
    return num_odds<=1

In [47]:
is_palindrome('raceecar')

True

In [52]:
# Is the left of the array equal to the right?

arr = [1, 7, 3, 5, 6]

def left_right_equal_sum(arr):
    i = 1
    while i < len(arr):
        sum_left = sum(arr[0:i+1])
        sum_right = sum(arr[i+1:])
        if sum_left == sum_right:
            ans = i
            break
        else:
            ans = -1

        i+=1
    return ans

In [53]:
left_right_equal_sum(arr)

2

In [1]:
# Merge sorted lists

list1 = [1,2,3,3,4,55]
list2 = [7,8,9,10,100]

def merge_sorted_list(list1,list2):
    return list1 + list2

In [2]:
merge_sorted_list(list1,list2)

[1, 2, 3, 3, 4, 55, 7, 8, 9, 10, 100]

Given a sorted list of positive integers with some entries being None, write a function to return a new list where all None values are replaced with the most recent non-None value in the list.

Note: If the first entry in the list is None, assume the previous entry was 0.

In [3]:
def fill_none(input_list):
    for i in range(0,len(input_list)):
        if input_list[i] == None and i != 0:
            input_list[i] = input_list[i-1]
        elif input_list[i] == None and i == 0:
            input_list[i] = 0
    return input_list

In [4]:
list1 = [1,None,2,3,4]
list2 = [None,5,6,7,8,None]

display(fill_none(list1))
display(fill_none(list2))

[1, 1, 2, 3, 4]

[0, 5, 6, 7, 8, 8]

You’re given numlists, a list where each element is a list of at least five numbers.

Write a function list_fifths that returns a list of the fifth-largest number from each element in numlists. Return the list in ascending order.

In [5]:
def list_fifths(numlists):
    return sorted([sorted(numlists[i])[-5] for i in range(0,len(numlists))])

In [6]:
numlists = [ [1,2,3,4,5], [3,1,2,5,4], [1,2,3,4,5,6,7], 
[99, 320, 400, 100.25, 55.2, 0.1] ]

list_fifths(numlists)

[1, 1, 3, 55.2]

## 11/16/2023

You’re given two dataframes. One contains information about addresses and the other contains relationships between various cities and states: 
Write a function complete_address to create a single dataframe with complete addresses in the format of street, city, state, zip code.

In [1]:
import pandas as pd

addresses = {"address": ["4860 Sunset Boulevard, San Francisco, 94105", "3055 Paradise Lane, Salt Lake City, 84103", "682 Main Street, Detroit, 48204", "9001 Cascade Road, Kansas City, 64102", "5853 Leon Street, Tampa, 33605"]}

cities = {"city": ["Salt Lake City", "Kansas City", "Detroit", "Tampa", "San Francisco"], "state": ["Utah", "Missouri", "Michigan", "Florida", "California"]}

df_addresses = pd.DataFrame(addresses)
df_cities = pd.DataFrame(cities)

In [2]:
# format the columns so they will join 
df_addresses['city'] = df_addresses['address'].str.split(',').str[1].str.lower().str.strip().str.title()
df_cities['city'] = df_cities['city'].str.lower().str.strip().str.title()

In [3]:
#convert to a single column
df = pd.merge(df_addresses,df_cities, left_on=['city'], right_on=['city'])
df = pd.DataFrame(df['address'].str.split(',',expand=True).iloc[:,0] + ',' + df['address'].str.split(',',expand=True).iloc[:,1] + ', ' + df['state'] + ',' + df['address'].str.split(',',expand=True).iloc[:,2],columns=['address'])
df

                                             address
0  4860 Sunset Boulevard, San Francisco, Californ...
1    3055 Paradise Lane, Salt Lake City, Utah, 84103
2          682 Main Street, Detroit, Michigan, 48204
3    9001 Cascade Road, Kansas City, Missouri, 64102
4            5853 Leon Street, Tampa, Florida, 33605

You are given a dataframe df_cheeses containing a list of the price of various cheeses from California The dataframe has missing values in the price column.
Write a function cheese_median to impute the median price of the selected California cheeses in place of the missing values. You may assume at least one cheese is not missing its price.

In [7]:
import pandas as pd

cheeses = {"Name": [
"Bohemian Goat", 
"Central Coast Bleu", 
"Cowgirl Mozzarella", 
"Cypress Grove Cheddar", 
"Oakdale Colby"], 
"Price" : [15.00, None, 30.00, None, 45.00]}

In [9]:
def cheese_median(dict):
    df = pd.DataFrame(dict)
    return df.fillna(df['Price'].median())

cheese_median(cheeses)

                    Name  Price
0          Bohemian Goat   15.0
1     Central Coast Bleu   30.0
2     Cowgirl Mozzarella   30.0
3  Cypress Grove Cheddar   30.0
4          Oakdale Colby   45.0