In [3]:
series = {
    'index':[0,1,2,3],
    'data':[145,142,38,13],
    'name':'songs'
}

def get(series,idx):
    value_idx = series['index'].index(idx)
    return series['data'][value_idx]

get(series,1)

142

In [4]:
songs = {
    'index':['Paul','John','George','Ringo'],
    'data':[145,142,38,130],
    'name':'counts'
}

get(songs,'John')

142

In [5]:
import pandas as pd
songs2 = pd.Series([145,142,38,13], name='counts')
songs2

0    145
1    142
2     38
3     13
Name: counts, dtype: int64

In [6]:
songs2.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
import numpy as np
nan_series = pd.Series([2,np.nan],index=[0,1])
nan_series

0    2.0
1    NaN
dtype: float64

In [10]:
nan_series.count()

1

In [11]:
# Nullable integer type
nan_series2 = pd.Series([2,None],
                        index=[0,1],
                        dtype='Int64')
nan_series2

0       2
1    <NA>
dtype: Int64