In [3]:
series = {
    'index':[0,1,2,3],
    'data':[145,142,38,13],
    'name':'songs'
}

def get(series,idx):
    value_idx = series['index'].index(idx)
    return series['data'][value_idx]

get(series,1)

142

In [4]:
songs = {
    'index':['Paul','John','George','Ringo'],
    'data':[145,142,38,130],
    'name':'counts'
}

get(songs,'John')

142

In [5]:
import pandas as pd
songs2 = pd.Series([145,142,38,13], name='counts')
songs2

0    145
1    142
2     38
3     13
Name: counts, dtype: int64

In [6]:
songs2.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
import numpy as np
nan_series = pd.Series([2,np.nan],index=[0,1])
nan_series

0    2.0
1    NaN
dtype: float64

In [10]:
nan_series.count()

1

In [11]:
# Nullable integer type
nan_series2 = pd.Series([2,None],
                        index=[0,1],
                        dtype='Int64')
nan_series2

0       2
1    <NA>
dtype: Int64

In [12]:
import numpy as np
np_series = np.array([145,142,38,13])
np_series[0]

145

In [15]:
# Has common methods
songs2.mean()
np_series.mean()

84.5

In [20]:
# Boolean Array
bool_ps = songs2 > songs2.median() 
print(bool_ps)

0     True
1     True
2    False
3    False
Name: counts, dtype: bool

In [21]:
songs2[bool_ps] #Only returns values where true

0    145
1    142
Name: counts, dtype: int64

In [22]:
np_series[np_series > np.median(np_series)]

array([145, 142])

In [32]:
# Categorical Data
cat_series = pd.Series(['xs','s','m','l','xl'], dtype='category')
cat_series

0    xs
1     s
2     m
3     l
4    xl
dtype: category
Categories (5, object): ['l', 'm', 's', 'xl', 'xs']

In [33]:
cat_series.cat.ordered #checking if the cat series is ordered

False

In [45]:
cat_series2 = pd.Series(['xs','s','m','l','xl'])
cat_type = pd.api.types.CategoricalDtype(categories=['s','m','l'], ordered=True)
cat_series3 = cat_series2.astype(cat_type)

In [46]:
cat_series3

0    NaN
1      s
2      m
3      l
4    NaN
dtype: category
Categories (3, object): ['s' < 'm' < 'l']

In [47]:
cat_series.cat.reorder_categories(['xs','s','m','l','xl'],ordered=True)

0    xs
1     s
2     m
3     l
4    xl
dtype: category
Categories (5, object): ['xs' < 's' < 'm' < 'l' < 'xl']

In [2]:
# Section 4 Exercises
import pandas as pd
temp_series = pd.Series([15,35,77,56,94])
temp_series = temp_series[temp_series >= temp_series.mean()]

In [3]:
temp_series

2    77
3    56
4    94
dtype: int64

In [5]:
color_series = pd.Series(['black','charcoal','white'],dtype='category')

In [6]:
color_series

0       black
1    charcoal
2       white
dtype: category
Categories (3, object): ['black', 'charcoal', 'white']