In [30]:
import sys
!{sys.executable} -m pip install mysql-connector-python
!{sys.executable} -m pip install nba_api
!{sys.executable} -m pip install beautifulsoup4
!{sys.executable} -m pip install sqlalchemy

Requirement already satisfied: mysql-connector-python in c:\users\aaron\appdata\local\programs\python\python311\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\aaron\appdata\local\programs\python\python311\lib\site-packages (from mysql-connector-python) (4.21.12)
Requirement already satisfied: nba_api in c:\users\aaron\appdata\local\programs\python\python311\lib\site-packages (1.2.1)
Requirement already satisfied: numpy<2.0.0,>=1.22.2 in c:\users\aaron\appdata\local\programs\python\python311\lib\site-packages (from nba_api) (1.25.2)
Requirement already satisfied: requests in c:\users\aaron\appdata\local\programs\python\python311\lib\site-packages (from nba_api) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\aaron\appdata\local\programs\python\python311\lib\site-packages (from requests->nba_api) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\aaron\appdata\local\programs\python\python311\lib\site-packages (from requests->nba_api) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\aaron\appdata\local\programs\python\python311\lib\site-packages (from requests->nba_api) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\aaron\appdata\local\programs\python\python311\lib\site-packages (from requests->nba_api) (2023.7.22)
Requirement already satisfied: beautifulsoup4 in c:\users\aaron\appdata\local\programs\python\python311\lib\site-packages (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\aaron\appdata\local\programs\python\python311\lib\site-packages (from beautifulsoup4) (2.5)
Collecting sqlalchemy
  Obtaining dependency information for sqlalchemy from https://files.pythonhosted.org/packages/68/89/247a6a5bfcc5f2f27b08ce7a1fbc2ee9e54fa09ccc9fa48e8c0e08e78cbd/SQLAlchemy-2.0.21-cp311-cp311-win_amd64.whl.metadata
  Downloading SQLAlchemy-2.0.21-cp311-cp311-win_amd64.whl.metadata (9.7 kB)
Collecting typing-extensions>=4.2.0 (from sqlalchemy)
  Obtaining dependency information for typing-extensions>=4.2.0 from https://files.pythonhosted.org/packages/24/21/7d397a4b7934ff4028987914ac1044d3b7d52712f30e2ac7a2ae5bc86dd0/typing_extensions-4.8.0-py3-none-any.whl.metadata
  Using cached typing_extensions-4.8.0-py3-none-any.whl.metadata (3.0 kB)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-2.0.2-cp311-cp311-win_amd64.whl (192 kB)
     ---------------------------------------- 0.0/192.5 kB ? eta -:--:--
     -- ------------------------------------- 10.2/192.5 kB ? eta -:--:--
     ------------- ----------------------- 71.7/192.5 kB 975.2 kB/s eta 0:00:01
     -------------------------------------- 192.5/192.5 kB 1.9 MB/s eta 0:00:00
Downloading SQLAlchemy-2.0.21-cp311-cp311-win_amd64.whl (2.0 MB)
   ---------------------------------------- 0.0/2.0 MB ? eta -:--:--
   --------------- ------------------------ 0.8/2.0 MB 25.1 MB/s eta 0:00:01
   ---------------------- ----------------- 1.1/2.0 MB 14.6 MB/s eta 0:00:01
   ---------------------------------------  2.0/2.0 MB 16.3 MB/s eta 0:00:01
   ---------------------------------------- 2.0/2.0 MB 14.5 MB/s eta 0:00:00
Using cached typing_extensions-4.8.0-py3-none-any.whl (31 kB)
Installing collected packages: typing-extensions, greenlet, sqlalchemy
Successfully installed greenlet-2.0.2 sqlalchemy-2.0.21 typing-extensions-4.8.0

In [34]:
from dotenv import load_dotenv
import os
load_dotenv()
import mysql.connector as sql
import pandas as pd
from sqlalchemy import create_engine

host=os.getenv("DB_HOST")
database=os.getenv("DB_NAME")
user=os.getenv("DB_USERNAME")
password=os.getenv("DB_PASSWORD")


conn = sql.connect(host=os.getenv("DB_HOST"),
                   database=os.getenv("DB_NAME"),
                   user=os.getenv("DB_USERNAME"),
                   password=os.getenv("DB_PASSWORD"),
                    )
mycursor = conn.cursor()
# Create the SQLAlchemy engine using the MySQL connection
engine = create_engine(f"mysql+mysqlconnector://{user}:{password}@{host}/{database}")

In [32]:
mycursor.execute("drop view vw_last_game")
mycursor.execute("""CREATE VIEW vw_last_game as 
            select game_id
                  ,game_date
                  ,city
                  ,nickname
                  ,team_id

            from
                (select sgs.*
                       ,row_number() over (partition by team_id order by game_date,load_date desc) as rn
                from stg_game_stats sgs) max_dates
            where max_dates.rn = 1""")

In [57]:
query = """ 
            select game_id
                  ,game_date
                  ,city
                  ,nickname
                  ,team_id

            from
                (select sgs.*
                       ,row_number() over (partition by team_id order by game_date desc) as rn
                from stg_game_stats sgs) max_dates
            where max_dates.rn = 1"""
pd.read_sql_query(query,engine).sort_values('game_id').game_id.values

array(['22300082', '22300100', '22300101', '22300103', '22300106',
       '22300107', '22300114', '22300116', '22300117', '22300118',
       '22300119', '22300120', '22300121', '22300126', '22300127',
       '22300130', '22300131', '22300132', '22300133', '22300134',
       '22300135', '22300136', '22300137', '22300138', '22300139',
       '22300140', '22300141', '22300142', '22300143', '22300144'],
      dtype=object)

In [50]:
query = """ select wf.away_team_id as team_id
                  ,wf.game_id
                  ,wf.game_date
                  ,wf.season
                  ,wf.away_last_game_oe as last_game_oe
                  ,wf.away_last_game_home_win_pctg as last_game_home_win_pctg
                  ,wf.away_rest_day_cnt as num_rest_days
                  ,wf.away_last_game_away_win_pctg as last_game_away_win_pctg
                  ,wf.AWAY_LAST_GAME_SEASON_WIN_PCTG as last_game_total_win_pctg
                  ,wf.away_last_game_rolling_scoring_margin as last_game_rolling_scoring_margin
                  ,wf.away_last_game_rolling_oe as last_game_rolling_oe
            from wrk_wl_features wf
            join vw_last_game lg on wf.away_team_id = lg.team_id and wf.game_id = lg.game_id

            union

            select wf.home_team_id as team_id
                  ,wf.game_id
                  ,wf.game_date
                  ,wf.season
                  ,wf.home_last_game_oe as last_game_oe
                  ,wf.home_last_game_home_win_pctg as last_game_home_win_pctg
                  ,wf.home_rest_day_cnt as num_rest_days
                  ,wf.home_last_game_away_win_pctg as last_game_away_win_pctg
                  ,wf.home_LAST_GAME_SEASON_WIN_PCTG as last_game_total_win_pctg
                  ,wf.home_last_game_rolling_scoring_margin as last_game_rolling_scoring_margin
                  ,wf.home_last_game_rolling_oe as last_game_rolling_oe
            from wrk_wl_features wf
            join vw_last_game lg on wf.home_team_id = lg.team_id and wf.game_id = lg.game_id

"""

In [55]:
#
query = """select * from vw_wl_features"""
pd.read_sql_query(query,engine)

,team_id,game_id,game_date,season,last_game_oe,last_game_home_win_pctg,rest_day_cnt,last_game_away_win_pctg,last_game_season_win_pctg,last_game_rolling_scoring_margin,last_game_rolling_oe
0,1610612737,22300175,2023-11-11,2023-24,0.521368,0.428571,2,0.562500,0.555556,-8.000000,0.521368
1,1610612738,22300188,2023-11-13,2023-24,0.620968,0.900000,2,0.562500,0.782609,23.000000,0.620968
2,1610612739,22300191,2023-11-13,2023-24,0.550459,0.230769,2,0.666667,0.478261,2.666667,0.559063
3,1610612740,22300183,2023-11-12,2023-24,0.609375,0.375000,0,0.461538,0.461538,-14.333333,0.600343
4,1610612741,22300190,2023-11-13,2023-24,0.543860,0.470588,0,0.200000,0.360656,2.333333,0.580490
5,1610612742,22300183,2023-11-12,2023-24,0.546218,0.750000,4,0.900000,0.900000,-2.333333,0.547037
6,1610612743,22300182,2023-11-12,2023-24,0.580357,0.933333,4,0.600000,0.869565,8.000000,0.610823
7,1610612744,22300186,2023-11-12,2023-24,0.520661,0.333333,0,0.631579,0.576923,-6.333333,0.531234
8,1610612745,22300182,2023-11-12,2023-24,0.526316,0.722222,0,0.000000,0.565217,11.000000,0.575645
9,1610612746,22300179,2023-11-12,2023-24,0.529412,0.692308,4,0.000000,0.391304,-4.000000,0.529412
10,1610612747,22300187,2023-11-12,2023-24,0.601770,0.909091,0,0.000000,0.392157,-20.666667,0.546269
11,1610612748,22300184,2023-11-12,2023-24,0.556522,0.600000,1,0.333333,0.478261,7.333333,0.545326
12,1610612749,22300190,2023-11-13,2023-24,0.560345,0.733333,0,0.230769,0.528302,-7.000000,0.548851
13,1610612750,22300186,2023-11-12,2023-24,0.614035,0.937500,4,0.222222,0.755556,11.000000,0.614275
14,1610612751,22300178,2023-11-12,2023-24,0.495798,0.375000,4,0.600000,0.521739,8.000000,0.495798
15,1610612752,22300188,2023-11-13,2023-24,0.520833,0.562500,0,0.545455,0.588235,9.333333,0.606044
16,1610612753,22300173,2023-11-11,2023-24,0.550459,0.562500,0,0.461538,0.555556,9.666667,0.551821
17,1610612754,22300180,2023-11-12,2023-24,0.634146,0.631579,3,0.333333,0.576923,-6.666667,0.615176
18,1610612755,22300180,2023-11-12,2023-24,0.529915,0.933333,0,0.428571,0.850000,8.000000,0.572182
19,1610612756,22300185,2023-11-12,2023-24,0.500000,0.230769,0,0.588235,0.481481,-8.000000,0.528736
20,1610612757,22300187,2023-11-12,2023-24,0.569231,0.000000,0,0.352941,0.266667,-4.000000,0.566088
21,1610612758,22300191,2023-11-13,2023-24,0.692308,0.666667,5,0.230769,0.488889,9.000000,0.653140
22,1610612759,22300184,2023-11-12,2023-24,0.583333,0.214286,0,0.375000,0.333333,-3.000000,0.578811
23,1610612760,22300185,2023-11-12,2023-24,0.603604,0.562500,4,0.857143,0.750000,8.000000,0.603604
24,1610612761,22300189,2023-11-13,2023-24,0.508475,0.428571,2,0.466667,0.464286,-0.333333,0.581416
25,1610612762,22300158,2023-11-08,2023-24,0.588710,0.461538,0,0.000000,0.260870,-24.333333,0.523618
26,1610612763,22300179,2023-11-12,2023-24,0.525424,0.000000,4,0.461538,0.260870,4.000000,0.525424
27,1610612764,22300189,2023-11-13,2023-24,0.469027,0.428571,1,0.187500,0.300000,-8.000000,0.469027
28,1610612765,22300181,2023-11-12,2023-24,0.561404,0.230769,0,0.176471,0.206897,-5.000000,0.565244
29,1610612766,22300177,2023-11-12,2023-24,0.580357,0.230769,4,0.230769,0.260870,-22.000000,0.580357

In [53]:
mycursor.execute("drop view vw_last_game")
mycursor.execute("""CREATE VIEW vw_last_game as 
            select game_id
                  ,game_date
                  ,city
                  ,nickname
                  ,team_id

            from
                (select sgs.*
                       ,row_number() over (partition by team_id order by load_date desc,game_date desc) as rn
                from stg_game_stats sgs) max_dates
            where max_dates.rn = 1""")

In [27]:
from datetime import datetime 
datetime.today().strftime("%Y-%m-%d")

'2023-11-12'

In [26]:
query = f"""update stg_game_stats
set load_date = {datetime.utcnow().strftime("%Y-%m-%d %H:%M:%S")} ; commit;  """ # '22300144'""" where id = 1610612757

mycursor.execute(f'{query}')

DatabaseError: 1105 (HY000): syntax error at position 52 near '01'

In [29]:

query = """ select * from wrk_wl_features """
df = pd.read_sql_query(query,engine).dropna()
x = df[df['SEASON'].isin(['2020-21','2021-22'])][['HOME_LAST_GAME_OE', 'HOME_LAST_GAME_HOME_WIN_PCTG',
       'HOME_REST_DAY_CNT', 'HOME_LAST_GAME_AWAY_WIN_PCTG',
       'HOME_LAST_GAME_SEASON_WIN_PCTG',
       'HOME_LAST_GAME_ROLLING_SCORING_MARGIN', 'HOME_LAST_GAME_ROLLING_OE',
       'AWAY_LAST_GAME_OE', 'AWAY_LAST_GAME_HOME_WIN_PCTG',
       'AWAY_REST_DAY_CNT', 'AWAY_LAST_GAME_AWAY_WIN_PCTG',
       'AWAY_LAST_GAME_SEASON_WIN_PCTG',
       'AWAY_LAST_GAME_ROLLING_SCORING_MARGIN', 'AWAY_LAST_GAME_ROLLING_OE']]
y = df[df['SEASON'].isin(['2020-21','2021-22'])]['HOME_W']

In [4]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn import preprocessing 
from sklearn.metrics import classification_report
X =x 

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.33)

# Standard Scaling Prediction Variables
scaler = preprocessing.StandardScaler()
scaler.fit(X_train)
scaled_data_train = scaler.transform(X_train)

scaler.fit(X_test)
scaled_data_test = scaler.transform(X_test)

#Logistic Regression

model = LogisticRegression()
model.fit(scaled_data_train,y_train)
model.score(scaled_data_test,y_test)

0.6401062416998672

In [21]:
import numpy as np 
y_pred = model.predict_proba(scaled_data_test)
np.vectorize(lambda x: f'{x * 100:.2f}%')(y_pred[:,1])
#print(classification_report(y_test,y_pred))

array(['63.12%', '43.21%', '60.42%', '28.47%', '28.24%', '52.23%',
       '37.00%', '50.28%', '27.46%', '70.91%', '62.96%', '63.06%',
       '55.96%', '28.96%', '42.82%', '55.18%', '56.11%', '46.92%',
       '48.55%', '79.26%', '72.85%', '69.13%', '40.35%', '52.61%',
       '78.74%', '64.56%', '54.83%', '37.85%', '42.32%', '23.49%',
       '80.73%', '57.66%', '66.56%', '64.16%', '65.76%', '43.63%',
       '42.77%', '71.09%', '40.67%', '64.50%', '53.95%', '29.32%',
       '41.83%', '53.84%', '58.28%', '68.86%', '64.46%', '51.57%',
       '40.01%', '52.81%', '50.79%', '71.97%', '60.11%', '48.83%',
       '61.39%', '45.34%', '69.86%', '27.46%', '74.68%', '64.69%',
       '75.80%', '29.41%', '70.30%', '60.21%', '38.47%', '46.75%',
       '49.07%', '64.59%', '68.14%', '40.20%', '41.32%', '66.07%',
       '71.24%', '40.98%', '68.34%', '66.98%', '67.10%', '27.48%',
       '67.50%', '57.74%', '65.24%', '66.78%', '52.44%', '35.09%',
       '74.28%', '44.50%', '33.15%', '34.56%', '29.83%', '48.79%',
       '76.53%', '70.44%', '36.54%', '64.96%', '60.34%', '49.14%',
       '43.88%', '69.05%', '32.83%', '31.68%', '31.80%', '59.43%',
       '75.81%', '60.97%', '43.71%', '71.82%', '55.02%', '36.02%',
       '36.17%', '46.74%', '53.92%', '43.64%', '49.46%', '57.87%',
       '75.95%', '73.18%', '49.53%', '29.06%', '58.77%', '78.46%',
       '53.88%', '61.04%', '31.67%', '73.58%', '36.36%', '64.12%',
       '31.82%', '48.31%', '44.85%', '53.94%', '76.04%', '32.38%',
       '64.63%', '82.49%', '45.43%', '67.30%', '50.62%', '68.03%',
       '62.04%', '58.66%', '36.13%', '40.87%', '56.73%', '52.76%',
       '58.21%', '60.38%', '82.52%', '67.01%', '35.74%', '37.27%',
       '37.53%', '59.63%', '71.70%', '69.72%', '73.53%', '50.41%',
       '49.05%', '39.99%', '66.67%', '52.85%', '40.47%', '55.31%',
       '64.59%', '59.09%', '69.92%', '76.71%', '44.76%', '66.12%',
       '50.19%', '65.02%', '55.99%', '54.79%', '52.08%', '60.18%',
       '41.65%', '58.53%', '100.00%', '39.93%', '68.24%', '67.66%',
       '43.79%', '73.27%', '42.27%', '62.13%', '63.50%', '24.81%',
       '53.48%', '77.34%', '77.06%', '50.13%', '39.84%', '55.26%',
       '76.17%', '46.43%', '54.08%', '53.51%', '50.34%', '41.31%',
       '55.37%', '63.50%', '30.01%', '49.94%', '28.47%', '26.38%',
       '58.15%', '61.75%', '58.36%', '76.42%', '63.68%', '25.82%',
       '43.62%', '70.28%', '56.43%', '57.74%', '40.11%', '39.13%',
       '66.42%', '65.30%', '51.08%', '69.86%', '38.14%', '56.15%',
       '25.91%', '49.12%', '51.66%', '23.22%', '42.63%', '75.77%',
       '68.02%', '74.60%', '55.23%', '61.81%', '58.49%', '62.18%',
       '45.36%', '28.41%', '65.81%', '27.02%', '43.24%', '41.59%',
       '63.57%', '31.36%', '56.82%', '72.57%', '79.04%', '56.60%',
       '39.41%', '73.44%', '37.25%', '39.44%', '60.27%', '29.40%',
       '31.58%', '41.07%', '46.08%', '60.27%', '24.00%', '50.59%',
       '39.77%', '48.55%', '25.11%', '46.66%', '45.88%', '60.88%',
       '57.84%', '67.67%', '57.65%', '40.21%', '47.16%', '31.33%',
       '41.26%', '38.62%', '69.28%', '29.63%', '66.97%', '46.76%',
       '71.19%', '49.99%', '58.48%', '65.67%', '60.23%', '50.31%',
       '40.81%', '73.32%', '65.14%', '71.39%', '70.45%', '42.92%',
       '54.82%', '42.64%', '47.99%', '66.67%', '55.07%', '51.40%',
       '76.57%', '73.35%', '56.99%', '45.14%', '45.82%', '66.90%',
       '59.42%', '49.35%', '29.14%', '81.33%', '39.10%', '41.96%',
       '66.65%', '70.91%', '41.20%', '27.82%', '44.20%', '45.16%',
       '70.65%', '65.11%', '34.79%', '56.53%', '45.03%', '70.67%',
       '59.89%', '64.32%', '65.69%', '39.71%', '74.14%', '47.40%',
       '48.60%', '59.96%', '41.51%', '58.80%', '31.93%', '73.42%',
       '67.54%', '53.66%', '49.91%', '61.29%', '65.85%', '59.39%',
       '54.75%', '30.65%', '48.66%', '39.15%', '59.10%', '58.86%',
       '59.00%', '57.03%', '59.09%', '44.93%', '27.77%', '25.33%',
       '73.29%', '66.82%', '79.07%', '76.13%', '49.22%', '35.93%',
       '63.71%', '33.50%', '42.39%', '44.10%', '54.93%', '78.61%',
       '48.97%', '60.35%', '40.46%', '36.02%', '28.08%', '57.26%',
       '38.05%', '70.44%', '51.20%', '65.68%', '45.09%', '48.66%',
       '61.12%', '61.42%', '37.70%', '43.07%', '67.57%', '58.89%',
       '35.31%', '69.43%', '56.87%', '61.49%', '40.90%', '39.80%',
       '59.52%', '40.51%', '55.32%', '40.88%', '30.58%', '66.73%',
       '52.91%', '27.23%', '67.80%', '67.14%', '24.69%', '25.96%',
       '69.37%', '34.84%', '63.65%', '56.31%', '60.90%', '49.16%',
       '79.90%', '41.31%', '28.50%', '29.94%', '69.63%', '53.84%',
       '43.88%', '45.06%', '43.01%', '79.98%', '60.66%', '42.30%',
       '36.63%', '74.09%', '32.51%', '46.30%', '65.75%', '47.40%',
       '36.61%', '51.34%', '63.13%', '57.90%', '57.48%', '24.88%',
       '81.36%', '56.34%', '75.86%', '65.17%', '39.42%', '60.15%',
       '53.27%', '49.58%', '74.96%', '46.92%', '62.20%', '79.18%',
       '74.74%', '53.20%', '54.73%', '64.05%', '62.54%', '37.65%',
       '24.22%', '64.04%', '63.46%', '57.02%', '36.99%', '66.83%',
       '70.06%', '63.18%', '49.15%', '39.27%', '39.00%', '50.74%',
       '54.88%', '55.52%', '26.90%', '73.98%', '43.18%', '46.45%',
       '67.41%', '72.77%', '60.59%', '43.69%', '60.98%', '47.43%',
       '74.68%', '61.95%', '51.19%', '61.55%', '37.78%', '68.04%',
       '46.49%', '47.36%', '55.38%', '60.77%', '65.32%', '82.09%',
       '45.61%', '50.34%', '57.71%', '33.68%', '33.05%', '59.03%',
       '55.68%', '40.30%', '55.82%', '66.29%', '45.41%', '38.94%',
       '47.81%', '29.78%', '52.92%', '66.80%', '70.25%', '59.84%',
       '42.85%', '31.95%', '68.21%', '81.14%', '53.73%', '56.33%',
       '74.75%', '59.01%', '34.87%', '78.03%', '71.13%', '62.99%',
       '25.22%', '64.36%', '69.95%', '54.51%', '47.54%', '58.39%',
       '55.61%', '0.00%', '31.92%', '42.41%', '58.77%', '46.55%',
       '25.28%', '81.72%', '57.26%', '63.89%', '49.69%', '31.49%',
       '62.99%', '69.37%', '71.10%', '70.47%', '61.73%', '47.60%',
       '31.49%', '53.37%', '57.66%', '29.60%', '52.73%', '53.73%',
       '51.09%', '50.89%', '42.54%', '56.22%', '29.52%', '28.42%',
       '38.27%', '50.29%', '57.87%', '61.18%', '62.69%', '54.62%',
       '26.47%', '67.33%', '58.44%', '68.20%', '39.67%', '76.25%',
       '67.06%', '28.67%', '33.71%', '66.40%', '60.43%', '62.99%',
       '21.48%', '73.86%', '69.18%', '38.53%', '56.21%', '59.78%',
       '52.18%', '47.84%', '52.83%', '54.70%', '53.74%', '67.29%',
       '35.83%', '35.60%', '41.97%', '43.62%', '55.42%', '55.56%',
       '58.81%', '71.37%', '78.60%', '61.66%', '40.31%', '62.91%',
       '38.45%', '54.31%', '49.91%', '52.57%', '68.27%', '60.74%',
       '45.01%', '69.56%', '34.14%', '54.23%', '58.66%', '66.17%',
       '55.00%', '47.27%', '47.61%', '44.20%', '56.77%', '45.24%',
       '35.43%', '47.33%', '40.25%', '62.54%', '34.17%', '56.95%',
       '52.02%', '55.84%', '54.55%', '79.57%', '67.02%', '46.75%',
       '53.02%', '60.42%', '61.70%', '54.96%', '38.98%', '65.78%',
       '71.12%', '47.44%', '60.64%', '48.74%', '70.78%', '60.73%',
       '63.92%', '80.12%', '64.41%', '65.93%', '55.04%', '60.79%',
       '63.38%', '77.92%', '38.11%', '24.80%', '65.58%', '43.80%',
       '25.22%', '73.98%', '45.75%', '65.22%', '49.55%', '51.97%',
       '49.13%', '43.04%', '56.80%', '61.15%', '59.12%', '38.01%',
       '71.58%', '62.70%', '60.09%', '38.12%', '39.83%', '54.04%',
       '49.47%', '50.82%', '66.76%', '28.57%', '51.83%', '62.30%',
       '62.00%', '60.81%', '60.45%', '50.55%', '64.71%', '53.41%',
       '49.31%', '50.85%', '70.57%', '69.46%', '37.79%', '41.22%',
       '31.46%', '75.75%', '66.44%', '59.40%', '27.73%', '58.02%',
       '49.65%', '39.77%', '68.38%', '35.98%', '71.14%', '40.68%',
       '40.62%', '35.93%', '58.08%', '67.65%', '51.42%', '38.55%',
       '46.19%', '56.04%', '56.42%', '20.89%', '50.28%', '69.36%',
       '49.70%', '41.96%', '52.61%', '66.85%', '50.37%', '46.49%',
       '54.30%', '67.05%', '46.66%', '43.45%', '88.25%', '69.23%',
       '81.18%', '38.20%', '52.62%', '39.44%', '34.12%', '37.72%',
       '41.92%', '72.15%', '57.09%', '40.84%', '76.29%', '58.23%',
       '66.17%', '55.61%', '52.18%', '69.85%', '53.68%', '34.99%',
       '65.10%', '48.55%', '73.59%', '42.37%', '43.43%', '60.79%',
       '21.91%', '78.24%', '51.26%', '72.25%', '45.49%', '69.33%',
       '41.98%', '40.64%', '60.67%', '75.84%', '39.57%', '77.45%',
       '56.77%', '41.95%', '49.46%'], dtype='<U7')

In [54]:
import pickle 
model_string = pickle.dumps(model).hex()
data_dict = {'model_name':['NBA Home Team Win Loss'],'version':['v1'],'create_dt':['2023-11-05'],'model_object_hex':[model_string]}
data = pd.DataFrame(data_dict)
data['create_dt'] = pd.to_datetime(data['create_dt'])
data.to_sql('model_object', engine, if_exists='append', index=False, method='multi')

1

SyntaxError: can't use starred expression here (3058542084.py, line 1)

In [56]:
query = "select * from model_object where version = 'v2'"
data = pd.read_sql_query(query,engine)
model_hex = data.loc[data.model_name == 'NBA Home Team Win Loss']['model_object_hex'][0]
pickle.loads(bytes.fromhex(model_hex)).score(scaled_data_test,y_test)

0.6108897742363878

In [286]:
query = """ select cast(gameId as signed) as GAME_ID
                  ,w_home as home_win_flag
             from 
                stg_nba_schedule sns
             join
                stg_game_stats sgs on sns.gameId = sgs.game_id """
pd.read_sql_query(query,engine)

,CITY,NICKNAME,TEAM_ID,W,L,W_HOME,L_HOME,W_ROAD,L_ROAD,TEAM_TURNOVERS,...,BLK,PTS,AVG_REB,AVG_PTS,DQ,OFFENSIVE_EFFICIENCY,SCORING_MARGIN,SEASON,GAME_DATE,GAME_ID
0,Atlanta,Hawks,1610612737,1,0,1,0,0,0,0,...,8,124,63.0,124.0,0,0.653226,29.0,2020-21,2021-05-16,22001066
1,OPPONENTS,Rockets,1610612745,0,1,0,0,0,1,1,...,5,95,51.0,95.0,0,0.459016,-29.0,2020-21,2021-05-16,22001066
2,Atlanta,Hawks,1610612737,1,0,1,0,0,0,0,...,4,116,58.0,116.0,0,0.555556,23.0,2020-21,2021-05-13,22001049
3,OPPONENTS,Magic,1610612753,0,1,0,0,0,1,0,...,6,93,62.0,93.0,0,0.517241,-23.0,2020-21,2021-05-13,22001049
4,Atlanta,Hawks,1610612737,1,0,1,0,0,0,0,...,5,120,56.0,120.0,0,0.573913,4.0,2020-21,2021-05-12,22001042
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7075,OPPONENTS,Pistons,1610612765,0,1,0,0,0,1,0,...,3,106,50.0,106.0,0,0.550459,-11.0,2022-23,2023-02-27,22200919
7076,Detroit,Pistons,1610612765,1,0,1,0,0,0,1,...,3,118,60.0,118.0,0,0.572581,6.0,2022-23,2023-02-03,22200785
7077,OPPONENTS,Hornets,1610612766,0,1,0,0,0,1,1,...,2,112,46.0,112.0,1,0.525424,-6.0,2022-23,2023-02-03,22200785
7078,Charlotte,Hornets,1610612766,0,1,0,1,0,0,0,...,6,134,65.0,134.0,1,0.552846,-7.0,2022-23,2022-12-14,22200414
7079,OPPONENTS,Pistons,1610612765,1,0,0,0,1,0,1,...,8,141,62.0,141.0,0,0.598361,7.0,2022-23,2022-12-14,22200414

In [2]:
from nba_api.stats.static import teams, players
from nba_api.stats.endpoints import cumestatsteamgames, cumestatsteam, gamerotation
import pandas as pd
import numpy as np
import json
import difflib
import time
import requests

# Retry Wrapper 
def retry(func, retries=3):
    def retry_wrapper(*args, **kwargs):
        attempts = 0
        while attempts < retries:
            try:
                return func(*args, **kwargs)
            except requests.exceptions.RequestException as e:
                print(e)
                time.sleep(30)
                attempts += 1

    return retry_wrapper

# Get Single Game aggregation columns

def getSingleGameMetrics(gameID,homeTeamID,awayTeamID,awayTeamNickname,seasonYear,gameDate):

    @retry
    def getGameStats(teamID,gameID,seasonYear):
        #print(f'game_id: {gameID} team_id: {teamID} season:{seasonYear}')
        gameStats = cumestatsteam.CumeStatsTeam(game_ids='00'+str(gameID),league_id ="00",
                                               season=seasonYear,season_type_all_star="Regular Season",
                                               team_id = teamID).get_normalized_json()

        #print(gameStats)
        gameStats = pd.DataFrame(json.loads(gameStats)['TotalTeamStats'])

        return gameStats

    data = getGameStats(homeTeamID,gameID,seasonYear)
    #print(data)
    data.at[1,'NICKNAME'] = awayTeamNickname
    data.at[1,'TEAM_ID'] = awayTeamID
    data.at[1,'OFFENSIVE_EFFICIENCY'] = (data.at[1,'FG'] + data.at[1,'AST'])/(data.at[1,'FGA'] - data.at[1,'OFF_REB'] + data.at[1,'AST'] + data.at[1,'TOTAL_TURNOVERS'])
    data.at[1,'SCORING_MARGIN'] = data.at[1,'PTS'] - data.at[0,'PTS']

    data.at[0,'OFFENSIVE_EFFICIENCY'] = (data.at[0,'FG'] + data.at[0,'AST'])/(data.at[0,'FGA'] - data.at[0,'OFF_REB'] + data.at[0,'AST'] + data.at[0,'TOTAL_TURNOVERS'])
    data.at[0,'SCORING_MARGIN'] = data.at[0,'PTS'] - data.at[1,'PTS']

    data['SEASON'] = seasonYear
    data['GAME_DATE'] = gameDate
    data['GAME_ID'] = gameID

    return data

In [7]:
sql_query = """ SELECT 
                    sss.* 
                FROM 
                    stg_season_schedule sss
                LEFT JOIN 
                    stg_game_stats sgs1 on sss.game_id = sgs1.game_id and sss.home_team_id = sgs1.team_id
                LEFT JOIN 
                    stg_game_stats sgs2 on sss.game_id = sgs2.game_id and sss.away_team_id = sgs2.team_id
                WHERE 
                    sgs1.team_id is null
                      """

# Execute the SQL query and return the result as a DataFrame
df = pd.read_sql_query(sql_query, engine)
df

Empty DataFrame
Columns: [MATCHUP, GAME_ID, SEASON, GAME_DATE, HOME_TEAM_NICKNAME, HOME_TEAM_ID, AWAY_TEAM_NICKNAME, AWAY_TEAM_ID]
Index: []

In [4]:
failed_attempts = 0
for _,row in df.iterrows():
    try:
        getSingleGameMetrics(row['GAME_ID'],row['HOME_TEAM_ID'],row['AWAY_TEAM_ID'],row['AWAY_TEAM_NICKNAME'],row['SEASON'],row['GAME_DATE']).to_sql('stg_game_stats', engine, if_exists='append', index=False, method='multi')
    except:
        print(f'failed attempt number {failed_attempts}')
        failed_attempts+= 1
        continue

In [272]:
url = "https://nba-prediction-api.onrender.com/all"
response = requests.get(url)
#historic_games = pd.read_json(response.json(),orient='records')

In [278]:
response.content

b'Internal Server Error'

In [280]:
query = """ select * from fct_wl_features"""
df = pd.read_sql_query(query,engine)
df

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1146 (42S02): target: basketballdb.-.primary: vttablet: Table 'basketballdb.fct_wl_features' doesn't exist (errno 1146) (sqlstate 42S02) (CallerID: 1s12yv1z7l4mbixy53db): Sql: "select * from fct_wl_features", BindVars: {REDACTED}
[SQL:  select * from fct_wl_features]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [207]:
import pandas as pd 
import requests

url = "https://nba-prediction-api.onrender.com/all"
response = requests.get(url)
df = pd.read_json(response.json(),orient='records')
df

,HOME_LAST_GAME_OE,HOME_LAST_GAME_HOME_WIN_PCTG,HOME_NUM_REST_DAYS,HOME_LAST_GAME_AWAY_WIN_PCTG,HOME_LAST_GAME_TOTAL_WIN_PCTG,HOME_LAST_GAME_ROLLING_SCORING_MARGIN,HOME_LAST_GAME_ROLLING_OE,HOME_W,HOME_TEAM_ID,GAME_ID,SEASON,GAME_DATE,AWAY_LAST_GAME_OE,AWAY_LAST_GAME_HOME_WIN_PCTG,AWAY_NUM_REST_DAYS,AWAY_LAST_GAME_AWAY_WIN_PCTG,AWAY_LAST_GAME_TOTAL_WIN_PCTG,AWAY_LAST_GAME_ROLLING_SCORING_MARGIN,AWAY_LAST_GAME_ROLLING_OE,AWAY_TEAM_ID
0,0.535088,NaN,2.0,1.000000,1.000000,15.000000,0.549056,1,1610612737,22000041,2020-21,2020-12-28,0.470588,0.000000,2.0,0.000000,0.000000,-9.500000,0.519910,1610612765
1,0.567797,1.000000,1.0,0.750000,0.800000,7.333333,0.592552,0,1610612737,22000083,2020-21,2021-01-02,0.531532,0.666667,2.0,0.500000,0.600000,-1.666667,0.549664,1610612739
2,0.500000,0.500000,2.0,0.750000,0.666667,3.000000,0.559789,0,1610612737,22000095,2020-21,2021-01-04,0.580357,0.500000,2.0,0.500000,0.500000,-1.333333,0.510969,1610612752
3,0.561404,0.333333,2.0,0.750000,0.571429,2.666667,0.543067,0,1610612737,22000110,2020-21,2021-01-06,0.528000,0.333333,2.0,0.250000,0.285714,-15.666667,0.533390,1610612766
4,0.531532,0.250000,2.0,0.600000,0.444444,-7.000000,0.530978,1,1610612737,22000153,2020-21,2021-01-11,0.536585,0.833333,2.0,0.500000,0.700000,-6.666667,0.559370,1610612755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3535,0.609756,0.333333,2.0,0.307692,0.320000,-1.666667,0.566357,1,1610612766,22201113,2022-23,2023-03-26,0.584071,0.578947,2.0,0.388889,0.486486,-4.666667,0.580104,1610612742
3536,0.656489,0.351351,3.0,0.325000,0.337662,5.666667,0.613386,0,1610612766,22201148,2022-23,2023-03-31,0.598425,0.526316,2.0,0.421053,0.473684,-4.333333,0.621818,1610612741
3537,0.508197,0.342105,2.0,0.325000,0.333333,-7.000000,0.579533,0,1610612766,22201163,2022-23,2023-04-02,0.623853,0.650000,2.0,0.324324,0.493506,5.666667,0.617840,1610612761
3538,0.571429,0.333333,2.0,0.325000,0.329114,-15.666667,0.578705,0,1610612766,22201176,2022-23,2023-04-04,0.696296,0.650000,2.0,0.342105,0.500000,9.000000,0.655736,1610612761
3539,0.543103,0.325000,3.0,0.325000,0.325000,-23.333333,0.540910,0,1610612766,22201202,2022-23,2023-04-07,0.593220,0.341463,3.0,0.153846,0.250000,0.666667,0.573967,1610612745

In [69]:
def test(version):
    query = f"select * from model_object where version = '{version}'"
    df = pd.read_sql_query(query,engine)
    return df.to_json(orient='records')

test('v1')

'[{"model_name":"NBA Home Team Win Loss","version":"v1","create_dt":1699142400000,"model_object_hex":"80049529030000000000008c1e736b6c6561726e2e6c696e6561725f6d6f64656c2e5f6c6f676973746963948c124c6f67697374696352656772657373696f6e9493942981947d94288c0770656e616c7479948c026c32948c046475616c94898c03746f6c94473f1a36e2eb1c432d8c014394473ff00000000000008c0d6669745f696e7465726365707494888c11696e746572636570745f7363616c696e67944b018c0c636c6173735f776569676874944e8c0c72616e646f6d5f7374617465944e8c06736f6c766572948c056c62666773948c086d61785f69746572944b648c0b6d756c74695f636c617373948c046175746f948c07766572626f7365944b008c0a7761726d5f737461727494898c066e5f6a6f6273944e8c086c315f726174696f944e8c0e6e5f66656174757265735f696e5f944b0e8c08636c61737365735f948c156e756d70792e636f72652e6d756c74696172726179948c0c5f7265636f6e7374727563749493948c056e756d7079948c076e6461727261799493944b0085944301629487945294284b014b028594681c8c0564747970659493948c02693894898887945294284b038c013c944e4e4e4affffffff4affffffff4b0074946289431000000000000000000100000000000000947494628c076e5f697465725f94681b681e4b008594682087945294284b014b01859468258c02693494898887945294284b0368294e4e4e4affffffff4affffffff4b0074946289430416000000947494628c05636f65665f94681b681e4b008594682087945294284b014b014b0e869468258c02663894898887945294284b0368294e4e4e4affffffff4affffffff4b0074946289437041adc8ae58b48cbf807fe0ed07dadc3fae470b6ae515c2bf73dcaec23fe5dc3f47ce085ead85d5bf3affdb613a4dc73f1ac13db2e763b6bf0c2e6d67b6a8a43fd4922cc500ced9bf3d16d1ba2a6cc03f01e81e62a158d5bf96aa59c02597d43f1f7b59e35868c5bf8597b281a913b43f947494628c0a696e746572636570745f94681b681e4b008594682087945294284b014b018594683f894308c65d3a852819cd3f947494628c105f736b6c6561726e5f76657273696f6e948c05312e332e309475622e"}]'

In [300]:
query = "select * from wrk_wl_features where season = '2022-23'"
pd.read_sql_query(query,engine).dropna()

,HOME_LAST_GAME_OE,HOME_LAST_GAME_HOME_WIN_PCTG,HOME_NUM_REST_DAYS,HOME_LAST_GAME_AWAY_WIN_PCTG,HOME_LAST_GAME_TOTAL_WIN_PCTG,HOME_LAST_GAME_ROLLING_SCORING_MARGIN,HOME_LAST_GAME_ROLLING_OE,HOME_W,HOME_TEAM_ID,GAME_ID,SEASON,GAME_DATE,AWAY_LAST_GAME_OE,AWAY_LAST_GAME_HOME_WIN_PCTG,AWAY_NUM_REST_DAYS,AWAY_LAST_GAME_AWAY_WIN_PCTG,AWAY_LAST_GAME_TOTAL_WIN_PCTG,AWAY_LAST_GAME_ROLLING_SCORING_MARGIN,AWAY_LAST_GAME_ROLLING_OE,AWAY_TEAM_ID
3,0.566929,0.666667,3.0,0.600000,0.625000,-8.333333,0.557683,1,1610612737,22200134,2022-23,2022-11-05,0.580357,0.666667,1.0,0.600000,0.625000,9.000000,0.595040,1610612740
4,0.568182,0.750000,2.0,0.600000,0.666667,-4.666667,0.559942,1,1610612737,22200149,2022-23,2022-11-07,0.535088,1.000000,2.0,1.000000,1.000000,17.333333,0.563690,1610612749
5,0.565574,0.800000,2.0,0.600000,0.700000,11.666667,0.566895,0,1610612737,22200162,2022-23,2022-11-09,0.638462,1.000000,2.0,0.571429,0.750000,15.000000,0.595777,1610612762
6,0.590551,0.666667,1.0,0.600000,0.636364,5.333333,0.574769,1,1610612737,22200173,2022-23,2022-11-10,0.514563,0.333333,3.0,0.600000,0.454545,0.000000,0.531692,1610612755
7,0.603604,0.714286,2.0,0.571429,0.642857,4.000000,0.543206,0,1610612737,22200214,2022-23,2022-11-16,0.568000,0.857143,2.0,0.714286,0.785714,10.666667,0.606909,1610612738
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1225,0.609756,0.333333,2.0,0.307692,0.320000,-1.666667,0.566357,1,1610612766,22201113,2022-23,2023-03-26,0.584071,0.578947,2.0,0.388889,0.486486,-4.666667,0.580104,1610612742
1226,0.656489,0.351351,3.0,0.325000,0.337662,5.666667,0.613386,0,1610612766,22201148,2022-23,2023-03-31,0.598425,0.526316,2.0,0.421053,0.473684,-4.333333,0.621818,1610612741
1227,0.508197,0.342105,2.0,0.325000,0.333333,-7.000000,0.579533,0,1610612766,22201163,2022-23,2023-04-02,0.623853,0.650000,2.0,0.324324,0.493506,5.666667,0.617840,1610612761
1228,0.571429,0.333333,2.0,0.325000,0.329114,-15.666667,0.578705,0,1610612766,22201176,2022-23,2023-04-04,0.696296,0.650000,2.0,0.342105,0.500000,9.000000,0.655736,1610612761
1229,0.543103,0.325000,3.0,0.325000,0.325000,-23.333333,0.540910,0,1610612766,22201202,2022-23,2023-04-07,0.593220,0.341463,3.0,0.153846,0.250000,0.666667,0.573967,1610612745

In [73]:
import requests 
import pandas as pd
import pickle

url = "https://nba-prediction-api.onrender.com/wl_model?version=%27v1%27"
response = requests.get(url)
data = pd.read_json(response.json())
pickle.loads(bytes.fromhex(data['model_object_hex'][0])).get_params()

{'C': 1.0,
 'class_weight': None,
 'dual': False,
 'fit_intercept': True,
 'intercept_scaling': 1,
 'l1_ratio': None,
 'max_iter': 100,
 'multi_class': 'auto',
 'n_jobs': None,
 'penalty': 'l2',
 'random_state': None,
 'solver': 'lbfgs',
 'tol': 0.0001,
 'verbose': 0,
 'warm_start': False}

In [84]:
query = """SELECT gameId as GAME_ID
                     ,homeTeamName as HOME_TEAM_NAME
                     ,awayTeamName as AWAY_TEAM_NAME
                     ,DATE_FORMAT(date(gameDateTimeEST),'%Y-%m-%d') as GAME_DATE_EST
                     ,homeTeamID as HOME_TEAM_ID
                     ,awayTeamID as AWAY_TEAM_ID
            FROM 
                  stg_nba_schedule
            WHERE 
                  postponedStatus = 'A'
              AND (homeTeamId <> 0 and awayTeamID <> 0)
              AND seriesText = '' 
              AND DATE_FORMAT(date(gameDateTimeEST),'%Y-%m-%d') >= curDate() 
            
            ORDER BY
                  gameDateTimeEST ASC
            LIMIT 15      """
df = pd.read_sql_query(query,engine)
df

,GAME_ID,HOME_TEAM_NAME,AWAY_TEAM_NAME,GAME_DATE_EST,HOME_TEAM_ID,AWAY_TEAM_ID
0,0022300146,Pacers,Spurs,2023-11-06,1610612754,1610612759
1,0022300145,Pistons,Warriors,2023-11-06,1610612765,1610612744
2,0022300148,76ers,Wizards,2023-11-06,1610612755,1610612764
3,0022300147,Magic,Mavericks,2023-11-06,1610612753,1610612742
4,0022300149,Nets,Bucks,2023-11-06,1610612751,1610612749
5,0022300151,Knicks,Clippers,2023-11-06,1610612752,1610612746
6,0022300150,Heat,Lakers,2023-11-06,1610612748,1610612747
7,0022300152,Bulls,Jazz,2023-11-06,1610612741,1610612762
8,0022300155,Thunder,Hawks,2023-11-06,1610612760,1610612737
9,0022300153,Rockets,Kings,2023-11-06,1610612745,1610612758
10,0022300154,Timberwolves,Celtics,2023-11-06,1610612750,1610612738
11,0022300156,Nuggets,Pelicans,2023-11-06,1610612743,1610612740
12,0022300157,Hornets,Wizards,2023-11-08,1610612766,1610612764
13,0022300159,76ers,Celtics,2023-11-08,1610612755,1610612738
14,0022300158,Pacers,Jazz,2023-11-08,1610612754,1610612762

In [74]:
url = "https://nba-prediction-api.onrender.com/upcoming_games"
response = requests.get(url)
upcoming_games = pd.read_json(response.json(),orient='records')
upcoming_games

,GAME_ID,HOME_TEAM_NAME,AWAY_TEAM_NAME,GAME_DATETIME,HOME_TEAM_ID,AWAY_TEAM_ID
0,22300061,Nuggets,Lakers,2023-10-24T23:30:00Z,1610612743,1610612747
1,22300062,Warriors,Suns,2023-10-25T02:00:00Z,1610612744,1610612756
2,22300064,Pacers,Wizards,2023-10-25T23:00:00Z,1610612754,1610612764
3,22300063,Hornets,Hawks,2023-10-25T23:00:00Z,1610612766,1610612737
4,22300066,Magic,Rockets,2023-10-25T23:00:00Z,1610612753,1610612745
5,22300065,Knicks,Celtics,2023-10-25T23:00:00Z,1610612752,1610612738
6,22300067,Nets,Cavaliers,2023-10-25T23:30:00Z,1610612751,1610612739
7,22300069,Raptors,Timberwolves,2023-10-25T23:30:00Z,1610612761,1610612750
8,22300068,Heat,Pistons,2023-10-25T23:30:00Z,1610612748,1610612765
9,22300070,Bulls,Thunder,2023-10-26T00:00:00Z,1610612741,1610612760
10,22300071,Grizzlies,Pelicans,2023-10-26T00:00:00Z,1610612763,1610612740
11,22300072,Jazz,Kings,2023-10-26T01:00:00Z,1610612762,1610612758
12,22300073,Spurs,Mavericks,2023-10-26T01:30:00Z,1610612759,1610612742
13,22300074,Clippers,Trail Blazers,2023-10-26T02:30:00Z,1610612746,1610612757
14,22300075,Bucks,76ers,2023-10-26T23:30:00Z,1610612749,1610612755

In [336]:
from sklearn import preprocessing


X_test = test_data[['HOME_LAST_GAME_OE', 'HOME_LAST_GAME_HOME_WIN_PCTG',
       'HOME_NUM_REST_DAYS', 'HOME_LAST_GAME_AWAY_WIN_PCTG',
       'HOME_LAST_GAME_TOTAL_WIN_PCTG',
       'HOME_LAST_GAME_ROLLING_SCORING_MARGIN', 'HOME_LAST_GAME_ROLLING_OE',
       'AWAY_LAST_GAME_OE', 'AWAY_LAST_GAME_HOME_WIN_PCTG',
       'AWAY_NUM_REST_DAYS', 'AWAY_LAST_GAME_AWAY_WIN_PCTG',
       'AWAY_LAST_GAME_TOTAL_WIN_PCTG',
       'AWAY_LAST_GAME_ROLLING_SCORING_MARGIN', 'AWAY_LAST_GAME_ROLLING_OE']]
scaler = preprocessing.StandardScaler()
scaler.fit(X_test)
scaled_data = scaler.transform(X_test) 

test_data['PREDICTION'] = model.predict(scaled_data)

test_data['TRUE_POSITIVE_BOOL'] = ((test_data['PREDICTION'] == 1) & (test_data['HOME_W'] == 1))
test_data['TRUE_NEGATIVE_BOOL'] = ((test_data['PREDICTION'] == 0) & (test_data['HOME_W'] == 0))
test_data['FALSE_POSITIVE_BOOL'] = ((test_data['PREDICTION'] == 1) & (test_data['HOME_W'] == 0))
test_data['FALSE_NEGATIVE_BOOL'] = ((test_data['PREDICTION'] == 0) & (test_data['HOME_W'] == 1))
test_data['TRUE_POSITIVE_TOTAL_CNT'] = test_data['TRUE_POSITIVE_BOOL'].cumsum()
test_data['TRUE_NEGATIVE_TOTAL_CNT'] = test_data['TRUE_NEGATIVE_BOOL'].cumsum()
test_data['FALSE_POSITIVE_TOTAL_CNT'] = test_data['FALSE_POSITIVE_BOOL'].cumsum()
test_data['FALSE_NEGATIVE_TOTAL_CNT'] = test_data['FALSE_NEGATIVE_BOOL'].cumsum()

#PRECISION/ACCURACY
test_data['ACCURACY'] = (test_data['TRUE_NEGATIVE_TOTAL_CNT'] + test_data['TRUE_POSITIVE_TOTAL_CNT'])/(test_data['TRUE_NEGATIVE_TOTAL_CNT'] + test_data['TRUE_POSITIVE_TOTAL_CNT'] + test_data['FALSE_NEGATIVE_TOTAL_CNT'] + test_data['FALSE_POSITIVE_TOTAL_CNT']) 
test_data['PRECISION'] = test_data['TRUE_POSITIVE_TOTAL_CNT'] / (test_data['TRUE_POSITIVE_TOTAL_CNT'] + test_data['FALSE_POSITIVE_TOTAL_CNT']) 
test_data

,HOME_LAST_GAME_OE,HOME_LAST_GAME_HOME_WIN_PCTG,HOME_NUM_REST_DAYS,HOME_LAST_GAME_AWAY_WIN_PCTG,HOME_LAST_GAME_TOTAL_WIN_PCTG,HOME_LAST_GAME_ROLLING_SCORING_MARGIN,HOME_LAST_GAME_ROLLING_OE,HOME_W,HOME_TEAM_ID,GAME_ID,...,TRUE_POSITIVE_BOOL,TRUE_NEGATIVE_BOOL,FALSE_POSITIVE_BOOL,FALSE_NEGATIVE_BOOL,TRUE_POSITIVE_TOTAL_CNT,TRUE_NEGATIVE_TOTAL_CNT,FALSE_POSITIVE_TOTAL_CNT,FALSE_NEGATIVE_TOTAL_CNT,ACCURACY,PRECISION
739,0.509615,0.000,2.0,0.000000,0.000000,-5.500000,0.518959,0,1610612755,22200028,...,False,False,True,False,0,0,1,0,0.000000,0.000000
411,0.470588,0.000,3.0,0.000000,0.000000,-10.000000,0.477602,0,1610612747,22200037,...,False,True,False,False,0,1,1,0,0.500000,0.000000
616,0.632000,1.000,3.0,0.000000,0.500000,10.500000,0.590809,1,1610612752,22200046,...,True,False,False,False,1,1,1,0,0.666667,0.500000
165,0.514563,0.000,2.0,0.500000,0.333333,-8.666667,0.522410,1,1610612741,22200047,...,False,False,False,True,1,1,1,1,0.500000,0.500000
329,0.500000,0.000,2.0,0.000000,0.000000,-12.333333,0.531298,1,1610612745,22200048,...,False,False,False,True,1,1,1,2,0.400000,0.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,0.603448,0.525,2.0,0.439024,0.481481,-9.333333,0.555028,1,1610612741,22201223,...,True,False,False,False,477,235,257,210,0.603902,0.649864
983,0.557377,0.575,3.0,0.390244,0.481481,-1.666667,0.566125,1,1610612760,22201226,...,False,False,False,True,477,235,257,211,0.603390,0.649864
1024,0.554545,0.650,2.0,0.341463,0.493827,-1.000000,0.564518,1,1610612761,22201221,...,False,False,False,True,477,235,257,212,0.602879,0.649864
286,0.557252,0.825,1.0,0.463415,0.641975,-9.666667,0.576066,1,1610612743,22201227,...,False,False,False,True,477,235,257,213,0.602369,0.649864
860,0.637097,0.425,1.0,0.390244,0.407407,-7.666667,0.602865,0,1610612757,22201230,...,False,True,False,False,477,236,257,213,0.602705,0.649864

In [1]:
import pandas as pd

students = {"name" : ["Tim Voss", "Nicole Johnson", "Elsa Williams", "John James", "Catherine Jones"], "age" : [19, 20, 21, 20, 23], "favorite_color" : ["red", "yellow", "green", "blue", "green"], "grade" : [91, 95, 82, 75, 93]}

students_df = pd.DataFrame(students)

In [17]:
students_df[((students_df['favorite_color'] == 'red') | (students_df['favorite_color'] == 'green')) & (students_df['grade'] > 90) ]

              name  age favorite_color  grade
0         Tim Voss   19            red     91
4  Catherine Jones   23          green     93