In [2]:
(2).__add__(4)

6

In [3]:
2 + 4

6

In [2]:
import pandas as pd

df = pd.read_csv(r'vehicles.csv')
city_mpg = df.city08
highway_mpg = df.highway08

C:\Users\Aaron\AppData\Local\Temp\ipykernel_31032\2669876147.py:3: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'vehicles.csv')

In [6]:
(city_mpg + highway_mpg)/2

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
41139    22.5
41140    24.0
41141    21.0
41142    21.0
41143    18.5
Length: 41144, dtype: float64

In [7]:
# when series indexes don't align
s1 = pd.Series([10,20,30], index=[1,2,2])
s2 = pd.Series([35,44,53], index=[2,2,4], name='s2')

s1+s2

1     NaN
2    55.0
2    64.0
2    65.0
2    74.0
4     NaN
dtype: float64

In [8]:
# Section 6.4 Broadcasting 
# Series math operations w/ scalar values 
s1.add(s2,fill_value=0) # instead of nans values w/o index pair just add with 0

1    10.0
2    55.0
2    64.0
2    65.0
2    74.0
4    53.0
dtype: float64

- Code smell, using a loop with pandas series
- Not taking advantage of C

In [3]:
#6.7 Chaining
(city_mpg + highway_mpg)/2 # solving using operators

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
41139    22.5
41140    24.0
41141    21.0
41142    21.0
41143    18.5
Length: 41144, dtype: float64

In [7]:
(city_mpg
.add(highway_mpg)
.div(2)
) #parenthesis enables multi-line

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
41139    22.5
41140    24.0
41141    21.0
41142    21.0
41143    18.5
Length: 41144, dtype: float64

In [11]:
# 6.9 Exercises
# add series to itself
city_mpg + city_mpg

0        38
1        18
2        46
3        20
4        34
         ..
41139    38
41140    40
41141    36
41142    36
41143    32
Name: city08, Length: 41144, dtype: int64

In [10]:
city_mpg + 10

0        29
1        19
2        33
3        20
4        27
         ..
41139    29
41140    30
41141    28
41142    28
41143    26
Name: city08, Length: 41144, dtype: int64

In [12]:
city_mpg.add(city_mpg)

0        38
1        18
2        46
3        20
4        34
         ..
41139    38
41140    40
41141    36
41142    36
41143    32
Name: city08, Length: 41144, dtype: int64